// Variables for general HTML body

$html_page_background: #222;
$general_font_family: system-ui;

// variables for tw-followCard
$font-size-small: 0.8rem;
$white: #fff;
$avatar-size: 48px;
$border-radius-full: 1000px;
$button-radius: 999px;
$button-padding: 6px 16px;
$gap-between-cards: 8px;