// Overall Style for HTML page
@import 'variables';
@import 'tw-followCard';
@import 'mixins';

body {
    margin: 0;
    font-family: $general_font_family;
    background: $html_page_background;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.App{
    display: flex;
    flex-direction: column;
    gap: $gap-between-cards;
}